.nav {
    border-bottom: 8px solid rgb(189, 35, 125);
    margin-bottom: 30px;
}

.navItems {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 170px;
}

.logout {
    border: 1px solid rgb(189, 35, 125);
    color: rgb(189, 35, 125);
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    padding: 0px 30px;
    height: 40px;
}

.logout:hover {
    background-color: rgb(189, 35, 125);
    border: 1px solid rgb(189, 35, 125);
}