.BottomSection{
    width: 50%;
    margin-left: 25%;
}
.bottom-style{
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 3%;
}

.bottom-home-pitch{
    display: flex;
    align-items: center;
}
.bottom-home-pitch2{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.bottom-home-pitch3{
    font-size: 38px;
    width: 30%;
    text-align: left;
    font-weight: bold;
    margin-left: 10%;

}
.top-card h1 { 
font-size: 48px;
line-height: 66px;

p{
    font-style: 20px;
    line-height: 32;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-top: -1%;
}
img{
    float: left;
    width: 70vw;
}

}
.arrow-icon{
    h1{
        font-size: 24px;
    }
}
.wavy-line{
    h1{
        position: absolute;
        margin-left: 5rem;
        margin-top: 5rem;
        width: 380px;
        height: 167px;
        text-align: right;
        font-weight: 900;
    }


    .bottom-h1-info{
        position: absolute;
        margin-top: -350px;
        right: 0;
        width: 380px;
        line-height: 50px;
        font-weight: 900;
        text-align: left;

    }
    img{
        width: 100%;
    }
}
.rightpara{
    h1{
        font-size: 48px;
        line-height: 66px;
        font-weight: 900;
        text-align-last: left;
    }
    p{
        font-size: 20px;
        line-height: 32px;
        font-weight: 800;
        text-align-last: left;
    }
}
.chart-icon{
    h1{
        font-size: 24px;
    }
}