.mainDisplayWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    

    .manualFormWindow{
        border: solid black;
        padding: 21%;
        margin-bottom: 5%;
    }

    .csvDisplayWindow{
        border: solid black;
        padding: 5%;
    }
}