.MuiCard-root {
  max-width: 95% !important;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 2px 2px 5px grey !important;
  margin-bottom: -40px;
}

.MuiTypography-root {
  font-size: 1.5rem !important;
}
