$main: #308C47;

     html {
        font-size: 62.5%;
    }
    .cardHolder {
        height: auto;
        padding: 2em;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .managerCard {
            width: 50em;
            height: 20em;
            display: flex;
            padding: 1.5em 3em;
            border-radius: 10px;
            box-shadow: #848484 4px 4px 7px 0px;
            margin: 2em;
            .profilePic {
                width: auto;
                height: 15em;
                border-radius: 100%;
                max-width: 15em;
                max-height: 15em;
            }
            .info {
                text-align: left;
                margin-left: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                &>* {
                    font-weight: 400;
                    font-size: 18px;
                    color: #308C47;
                }
                .buttonHolder {
                    display: flex;
                    justify-content: flex-end;
                    .viewPropsBtn {
                        border-radius: 5px;
                        color: #308C47;
                        border: 1px solid #308C47;
                        background: none;
                        padding: 10px;
                        transition: ease-in-out 0.2s;
                        &:hover {
                            text-decoration: none;
                            background: #308C47;
                            color: white;
                        }
                    }
                }
            }
        }
    }
     //***************************    
       
.formBox{
    display: flex;
    flex-direction: column;
    width: 450px;
}
 .margin{
     margin-top: 20px;
     margin-left: 20px;
 }

input {
    font-size: 2.6em;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid $main;
    caret-color: $main;

    ::placeholder {
        color: black;
    }
    &:focus {
        box-shadow: 0 6px 6px -6px black;
    }
}
label{
    display: flex;
    font-size: 2.2em;
    color: #308C47;
    margin-bottom: 0;
}
.invalid{
    font-size: 2em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}
.saccount a{
    color: #721c24;
    font-weight:700;
   
    background-color: transparent;
}
.cancelBtn {
    border-radius: 5px;
    color: #308C47;
    border: 1px solid #308C47;
    background: none;
    padding: 10px;
    transition: ease-in-out 0.2s;
    font-weight: 400;
    font-size: 18px;
    
    &:hover {
        text-decoration: none;
        background: #308C47;
        color: white;
    }
}