.addPropForm {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	padding: 40px 0;
	justify-content: flex-start;

	.btn,
	input,
	button[type='reset'] {
		margin: 10px;
		width: 40%;
		font-size: 2rem;
	}

	.btn {
		padding: 18px 32px;
	}

	.bldgType {
		padding: 10px 5px;
		width: 40%;
		font-size: x-large;
	}
}

@media (max-width: 1200px) {
	.addPropForm {
		.btn,
		input,
		button[type='reset'] {
			width: 40%;
		}
	}
}

@media (max-width: 800px) {
	.addPropForm {

		.btn,
		input,
		.bldgType,
		button[type='reset'] {
			width: 55%;
		}
	}
}

@media (max-width: 600px) {
	.addPropForm {

		.btn,
		input,
		.bldgType,
		button[type='reset'] {
			width: 70%;
		}
	}
}