.editPropForm {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	padding-top: 40px;
	justify-content: flex-start;

	.btn,
	input,
	a {
		margin: 10px;
		width: 40%;
		font-size: 2rem;
	}

	a .btn {
		width: 100%;
		margin: 0px;
		padding: 18px 32px;
	}

	.btn {
		padding: 18px 32px;
	}
}

@media (max-width: 1200px) {
	.editPropForm {

		.btn,
		input,
		a {
			width: 40%;
		}
	}
}

@media (max-width: 800px) {
	.editPropForm {

		.btn,
		input,
		a {
			width: 55%;
		}
	}
}

@media (max-width: 600px) {
	.editPropForm {

		.btn,
		input,
		a {
			width: 70%;
		}
	}
}