.react-grid-item > .react-resizable-handle::after {
  content: url("../assets/banner.png");
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 23px;
  height: 23px;
  border-right: 20px solid rgba(255, 1, 22, 0.541);
  border-bottom: 20px solid rgba(255, 1, 22, 0.541);
}
