/* Style block for the filter and serach results divisions*/
.searchholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3%;
  width: 15%;
  height: 100%;
  padding-bottom: 1%;
}

.results {
  display: flex;
  flex-direction: column;
  width: 76%;
  height: 100%;
  margin-right: 3%;
  margin-left: 3%;
  align-items: center;
}

.filters,
.results {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #00a8a829;
  border-radius: 10px;
  opacity: 1;
  margin-top: 2%;
}
/*End of Style for Search and Result divisions*/

/*Styling block for the Result Cards */

.card-holder {
  display: inline-block;
  width: 95%;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #2a87af;
  border-radius: 5px;
  opacity: 1;
  margin-bottom: 30px;
}

.top {
  display: flex;
  justify-content: space-around;
}

.title {
  font-family: "Lato";
  font-size: 24px;
  text-align: left;
  margin-left: 25px;

}

.apply-button {
  margin-bottom: 0.5%;
}

.description {
  font-family: "Lato";
  font-size: 20px;
  margin: 0px 25px;
  text-align: justify;
  /* font: Medium 20px/24px Lato; */
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
}

.due-amount {
  font-family: "Lato";
  font-size: 18px;
  display: flex;
  margin-left: 25px;
  margin-top: 10px;
  line-height: 0px;
}

.due-label,
.amount-label {
  color: #00a8a8;
  margin: 18px 0px;
}

.amount-label {
  margin-left: 35px;
}
.due {
  margin-left: 5px;
}

.amount {
  margin-left: 5px;
}

.elegibility,
.categories {
  display: flex;
  margin-left: 25px;
  align-items: center;
  margin-top: 0px;
  line-height: 0px;
  height: auto;
}

.elegibility-label,
.category-label {
  font-family: "Lato";
  margin: 18px, 0px;
  font-size: 18px;
  color: #00a8a8;
  margin: 18px 0px;
}

.elegibility-tags,
.category-tags {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato";
  margin: 18px, 0px;
  font-size: 18px;
  color: #000000;
  opacity: 1;
  background-color: #c0f0f7;
  margin-left: 5px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}


/*END Styling block for the Result Cards */

.dropdown {
  background-color: #ffffff;
}

.categories-container, 
.elegibility-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom:0.4%;  
}

/* .span-class {
  background-color: #c0f0f7;
  margin-right: auto;
  padding: 0px 0.2% 0 0.2%;
  width: auto;
} */

.p-element {
  /* display:flex;
  flex-wrap: wrap; */
  width: 100%;
}