$main: #308C47;

.contactFormHolder {

    .contactForm {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        text-align: left;
        justify-content: space-evenly;
        height: 65em;

        label {
            font-size: 2.2em;
            color: $main;
            margin-bottom: 0;
        }
        input {
            font-size: 2.6em;
            padding: 5px;
            outline: none;
            border: none;
            border-bottom: 2px solid $main;
            caret-color: $main;

            ::placeholder {
                color: black;
            }
            &:focus {
                box-shadow: 0 6px 6px -6px black;
            }
        }
        .message {
            border: 2px $main solid;
            padding: 10px;
            font-size: 2em;
            outline: none;
        }
        .buttonHolder {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .cancelBtn, .submitBtn {
            padding: 0.5em 1em;
            border: none;
            font-size: 2em;
            margin: 0 1em;
            outline: none;
            transition: ease-in-out 0.1s;

            &:active {
                transform: translateY(5px);
            }
            &:hover {
                box-shadow: 0 6px 6px -6px black;
            }
        }

        .cancelBtn {
            background: none;
            color: $main;
            border-bottom: 2px solid $main;
        }

        .submitBtn {
            background-color: $main;
            color: white;
            border-radius: 5px;
        }
    }
}

@media (max-width: 700px) {
    .contactFormHolder {
        .contactForm {
            width: 80%;
        }
    }

}