$main: #308C47;

.contactFormHolder {

    .contactForm {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        text-align: left;
        justify-content: space-evenly;
        height: 65em;

        label {
            font-size: 2.2em;
            color: $main;
            margin-bottom: 0;
        }

        input {
            font-size: 2.6em;
            padding: 5px;
            outline: none;
            border: none;
            border-bottom: 2px solid $main;
            caret-color: $main;

            ::placeholder {
                color: black;
            }

            &:focus {
                box-shadow: 0 6px 6px -6px black;
            }
        }

        .buttonHolder {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .cancelBtn,
        .submitBtn {
            padding: 0.5em 1em;
            border: none;
            font-size: 2em;
            margin: 0 1em;
            outline: none;
            transition: ease-in-out 0.1s;

            &:active {
                transform: translateY(5px);
            }

            &:hover {
                box-shadow: 0 6px 6px -6px black;
            }
        }

        .cancelBtn {
            background: none;
            color: $main;
            border-bottom: 2px solid $main;
        }

        .submitBtn {
            background-color: $main;
            color: white;
            border-radius: 5px;
        }
    }
}

//***************************************************

.search_categories {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 2px solid $main;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.search_categories .select {
    width: 120%;
    // background:url('arrow.png') no-repeat;
    background-position: 80% center;
}

.search_categories .select select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 83%;
    position: relative;
    z-index: 10;
    font-size: 2.2em;
    color: gray;
}

//*******************************************************

@media (max-width: 700px) {
    .contactFormHolder {
        .contactForm {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .contactFormHolder {
        h1 {
            font-size: 3em;
            margin: 32px auto;
        }
        .contactForm input {
            font-size: 1.8em !important;
        }
    }

    .search_categories {
        .select select {
            font-size: 1.5em;
        }
    }
}