.superadmin-layout {
    min-height: 100vh;
    .superadmin-sider {
        min-height: 100vh;
        border-right: #0C5692 2px solid;
        .superadmin-menu {
            text-align: center;
            .logo {
                padding: 5%;
            }
            .menu-item {
                margin-bottom: 8%;
            }
        }
    }
}