<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/primer.css" />
    <link rel="icon" href="data:," />
    <title>GitStats</title>
  </head>
  <body class="p-4">
    <div
      class="Box box-shadow-medium Box--gray Box--spacious f4 text-gray-dark"
    >
      <header class="Box-header">
        <h1 class="">GitStats</h1>
      </header>
      <main class="Box-body">
        <h2>Curious about this API?</h2>
        <p>
          Please visit the README for more information regarding this project or
          click the button below to see the deploy this API was built to work
          with!
        </p>
      </main>
      <footer class="Box-footer">
        <a
          class="btn btn-large btn-block mb-4"
          role="button"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Lambda-School-Labs/github-commit-analysis-be"
        >
          README
        </a>
        <a
          class="btn btn-large btn-block"
          role="button"
          target="_blank"
          rel="noopener noreferrer"
          href="#"
        >
          GITSTATS
        </a>
      </footer>
    </div>
  </body>
</html>
