body {
	background: #ededed;
}

.dashboard-container {
	background: #ededed;

	nav {
		background: #363636;
		height: 50px;
		display: flex;
		align-items: center;
		padding-bottom: 4px;
		padding-left: 50px;
		display: flex;
		justify-content: space-between;

		.nav-links {
			display: flex;
			justify-content: space-between;

			.fas {
				margin-right: 30px;
			}
		}

		a {
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.8rem;
			margin-right: 50px;
		}
	}

	.column-container {
		display: flex;

		@media (max-width: 500px) {
			flex-direction: column;
			width: 100%;
		}
	}

	.column {
		width: 40%;
		margin: 100px 20px 20px 20px;
		background: white;
		// padding-left: 20px;
		border-radius: 10px;
		box-shadow: 1px 1px 16px -13px #000;

		@media (max-width: 500px) {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		h3 {
			padding-left: 10px;
		}

		.sub-header {
			opacity: 0.35;
			padding-left: 15px;
		}

		.location-listing {
			background: #f1ca0957;
			padding: 10px 20px 10px 20px;
			width: 80%;
			border-radius: 5px;
			display: flex;
			margin: 0 auto;
			margin-bottom: 10px;
			align-items: center;
			justify-content: space-between;
			box-shadow: 1px 1px 7px -6px #000;
			transition: all 1s ease;

			span {
				font-size: 0.8rem;
			}

			&:hover {
				cursor: pointer;
				background: #f1ca0980;
				transform: scale(1.01);
			}

			.fas {
				text-align: right;
			}
		}

		.nearby-listing {
			width: 90%;
			// background: #f1ca0957;
			margin: 0 auto;
			border-radius: 10px;
			transition: all 1s ease;

			&:hover {
				cursor: pointer;
				transform: scale(1.01);
			}

			img {
				width: 100%;
				border-radius: 10px;
			}

			article {
				display: flex;
				flex-direction: column;
				margin-top: 5px;
				position: relative;
				padding-left: 20px;
				padding-bottom: 20px;
				padding-top: 8px;
				top: -70px;
				background: #ffffffd0;
				margin-bottom: -40px;

				span {
					font-size: 0.8rem;
				}
			}
		}
	}

	.first-column {
		background: transparent;
		width: 40%;
		margin: 100px 20px 20px 20px;

		@media (max-width: 500px) {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		.user-information {
			text-align: center;
		}
	}
}

.edit-container {
	text-align: center;

	form {
		.titles {
			text-transform: uppercase;
			font-size: 0.6rem;
			letter-spacing: 2px;
		}

		input {
			width: 200px;
			margin: 10px;
			outline: none;
			padding: 5px;
			border-radius: 5px;
			border: 2px solid #ccc;
		}
	}
}

.editButton {
	border: 2px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: 600;
	color: #000;
}

.backToDash {
	text-decoration: none;
	color: black;
	font-size: 0.9rem;
}
