[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}
sqlalchemy = "*"
pathlib = "*"
pandas = "*"
requests = "*"
bs4 = "*"
xlrd = "*"
python-dotenv = "*"
pydantic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3"
