.search {
  margin-top: 75px;
  margin-bottom: 50px;

  h2 {
    font-size: 1.4rem;
    margin-left: 10px;
  }

  p {
    font-size: 1.4rem;
    margin: 5px 0 5px 10px;
  }
}

.search-header {
  font-size: 2.2rem;
  margin-left: 10px;
}
