body {
  margin: 0;
  font-family: 'Lato',
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./resources/fonts/Lato/Lato-Regular.ttf) format('truetype');
}