.admin-password{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.admin-password h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.admin-password ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.admin-password li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.admin-password li:last-child{
    border-bottom: none;
	margin-bottom: 0px;
	text-align: center;
}
.admin-password input[type="password"]
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.admin-password li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.admin-password textarea{
	resize:none;
}
.admin-password input[type="submit"]{
	background: #3F47CC;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
	color: #D2E2FF;
}
.admin-password input[type="submit"]:hover{
	background: rgb(132, 137, 233);
	color:#fff;
}

.admin-flash{
    text-align: center;
    max-width:400px;
	background: #F3F3F3;
	display: block;
	padding: 15px;
	margin:0 auto;
	text-align: center;
	color: #5C5C5C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

