.register-container {
	margin: 3rem 1.75rem;

	.header-alt-container {
		margin: 3.25rem 0;
	}

	.label {
		display: flex;
		font-size: 1.35rem;
		font-weight: 500;
		margin-top: 1.75rem;
		padding-bottom: 0.75rem;
	}

	.select-state {
		font-size: 1.35rem;
		width: 100%;
		padding: 1.25rem 1.75rem;
		border-radius: 1.25rem;
		background: transparentize($color: #e5e5e5, $amount: 0);
		border: 0.5px solid transparentize($color: #4f4f4f, $amount: 0.75);

		option {
			font-size: 1.5rem;
			overflow: scroll;
		}
	}

	input {
		font-size: 1.5rem;
		width: 100%;
		padding: 1.05rem 1.75rem;
		border-radius: 1.25rem;
		border: 0.5px solid transparentize($color: #4f4f4f, $amount: 0.75);
	}
}
